<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Добавление нового поста</h1>

  <%= form_for :post, url: posts_path do |f| %>
  <p>
    Название <br>
    <%= f.text_field :title %>
  </p>

  <p>
    Текст статьи <br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit 'Create Post' %>
  </p>

  <% end %>
</body>

</html>